* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header.header {
    display: flex;
    align-items: center;
    height: 200px;
    background-position: top center;
    background-image: url(../image/fond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


header.header img {
    width: 500px;
}

.fs-3 {
    font-weight: bold;
    font-size: 1.2em;
}

.bi-github{
    color: darkgrey; 
    font-size:3em ;
}

.bi-facebook{
    color:blue; 
    font-size:3em ;
}
.bi-linkedin{
    color: #000080; 
    font-size:3em ;
}

.bi-whatsapp {
    color: #32CD32;
    font-size: 3em;
}

.bi-whatsapp:hover,.bi-linkedin:hover,.bi-github:hover,.bi-facebook:hover {
    font-size: 3.1em;
    transition: all;
}

.down{
    width: max-content;
}