* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header.header {
    display: flex;
    align-items: center;
    height: 200px;
    background-position: 80% 50%;
    padding-left: 50px;
    background-image: url(../image/padlock_background/g12.png);
    background-color: rgb(238, 206, 255);
    background-size: 100px;
    background-repeat: no-repeat;
}


header.header img {
    width: 500px;
}

.fs-3 {
    font-weight: bold;
    font-size: 1.2em;
}

.bi-github{
    color: darkgrey; 
    font-size:3em ;
}

.bi-facebook{
    color:blue; 
    font-size:3em ;
}
.bi-linkedin{
    color: #000080; 
    font-size:3em ;
}

.bi-whatsapp {
    color: #32CD32;
    font-size: 3em;
}

.bi-code-slash{
  color: #000080; 
    font-size:3em ;
}

.bi-laptop{
  color: #000080; 
    font-size:3em ;
}

.bi-translate{
  color: #000080; 
    font-size:3em ;
}

.bi-whatsapp:hover,.bi-linkedin:hover,.bi-github:hover,.bi-facebook:hover {
    display: block;
    transform: scale(1.1);
    transition: all;
}

.down{
    width: max-content;
}

  #mywork-bg{
    background-image: 3em;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  }

  

  .navbar {
    background-color: #f5e6ff;
  }

  .down {
    background-color: rgb(190, 130, 215);
    border-color: plum;
    color: white;
  }

  .down:hover{
    background-color: rgb(190, 130, 215);
    border-color: plum;
    color: #fff; /* set the text color to white */
    transform: scale(1.05);
    color: white;
  }
 
  .down:active {
    background-color: rgb(190, 130, 215)!important;
    border-color: plum;
    color: #fff; /* set the text color to white */
    color: white;
  }


#status{
  height: 100%;
}

  #status-bg{
    top: 0;
    right: 0;
    z-index: -1;
    background-image : url(../image/cosmos_f.jpg);
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    opacity: 0.15;
    backface-visibility: hidden;
  }


#status-content{
  position: relative;
  top: -100%;
  right: 0;
  z-index: 1;
}

.fs-4{
  color: purple;
  font-size: 1.2em;
}